html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    position: absolute;
    width: 150px;
    right: 1rem;
    top: 1rem;
}

.header {
    background-color: #349D4A;
    color: #FFF;
    font-size: 5rem;
    font-weight: bold;
    height: 50vh;
    text-align: center;
}

.counter {
    color: #349D4A;
    font-size: 10rem;
    font-weight: bold;
    height: 50vh;
    text-align: center;
}

.event {
    background-color: #FFF;
    color: #349D4A;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
